.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
    color: black;
}

h3 {
    text-align: center;
}

.nearMaxMass {
    color:red;
    font-weight: bold;
}

.addCargoButton{
    background-color: gold;
}

.disabled {
    background-color: grey;
}

.removeCargoButton{
    background-color:firebrick;
}

.emptyButton {
    background-color: white;
    color: black;
}

* {
    color: white;
}

