<div class="displayBox">
    <h3>Equipment</h3>
    <ol>
        <li *ngFor="let item of equipmentItems">
            <button class="addCargoButton" *ngIf="!cargoHold.includes(item); else removeCargo" (click)="addItem(item)" [disabled]="disableAddCargoButton(item)" [class.disabled]="disableAddCargoButton(item)">Add to Cargo Hold</button>
            <ng-template #removeCargo>
                <button class="removeCargoButton" (click)="removeItem(item)">Remove from Hold</button>
            </ng-template>
            {{item.name}}, {{item.mass}} kg
        </li>
    </ol>
</div>

<hr>

<div class = "displayBox">
    <h3>Cargo Hold: {{cargoHold.length}}/{{maxItems}} Spots Filled</h3>
    <ol>
        <li *ngFor="let equipment of cargoHold">{{equipment.name}}</li>
    </ol>
    <p>Mass in Hold: {{cargoMass}} kg</p>
    <p [class.nearMaxMass]="remainingMass<=200">Mass Budget Remaining: {{remainingMass}} kg</p>
    <button class="emptyButton" (click)="emptyHold()">Empty Hold</button>
</div>

