<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipment">
    <span *ngIf="itemBeingEdited !== item; else elseBlock">
      <!-- display state of member -->
      <span (click)="edit(item)" class="editable-text">{{item}}</span>
      <button class="remove" (click)="remove(item)">remove</button>
    </span>

    <ng-template #elseBlock>
      <!-- edit state of member -->
      <input #updatedItem (keyup.enter)="save(updatedItem.value, item)" value="{{item}}"/>
      <button (click)="save(updatedItem.value, item)">save</button>
    </ng-template>
  </li>
</ul>

<input #newItem type="text"/>
<button (click)="add(newItem.value)">Add</button>